apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: shockley09/db_comentario:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 3306

        env: 
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: my-secret
              key: ROOT_PASSWORD
              
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: my-secret
              key: MYSQL_DATABASE

        volumeMounts:
        - name: local-storage
          mountPath: /var/lib/mysql
          
      volumes:
      - name: local-storage
        persistentVolumeClaim:
          claimName: local-pvc